*{
    margin: 0px;
    padding:0px
}
.mainAboutMe{
    height: 100vh;
    .colPresen{
        .imgPerfil{
            img{
                width: 250px;
                height: 200px;
            }
        }
        .logosPresen{
            img{
                width: 30px;
                margin-right: 10px;
                border-radius: 2px;
            }
        }
        .logoPrincipal{
            img{
                border-radius: 50%;
            }
        }
    }
    .colContent{
        background-color: rgb(182, 182, 182);
        .imgCodes{
            .dvCodes{
                border-radius: 10px;
            }
            flex-wrap: wrap;
            img{
                width: 100px;
                height: 80px;
                margin-right: 20px;
            }
            img:hover{
                cursor:pointer;
                transition: transform 0.5s;
            }
        }
        .contentDescp{
            .dvDescp{
                border-radius: 5px;
                input{
                    padding: 15px 20px 15px 20px;
                    background:none;
                    border: none;
                    background-color:rgb(0, 0, 0);
                    border-radius: 5px;
                    color: white;
                }
                input:hover{
                    transition: transform 0.5s;
                    transform: $trasformScale;
                }

            }
        }
    }
}