*{
    margin: 0px;
    padding:0px
}
.mainAboutMe{
    .colPresen{
        z-index: 1;
        .imgPerfil{
            img{
                width: 250px;
                height: 200px;
                animation: perfilPic 0.5s;
            }
        }
        .logosPresen{
            img{
                width: 30px;
                margin-right: 10px;
                border-radius: 2px;
            }
        }
        .logoPrincipal{
            img{
                border-radius: 50%;
            }
        }
    }
    .colContent{
        background-color: $backgroundColor;
        .imgCodes{
            z-index: 0;
            animation: wLeft 2s;
            .dvCodes{
                border-radius: 10px;
            }
            flex-wrap: wrap;
            img{
                width: 100px;
                height: 80px;
                margin-right: 20px;
            }
            img:hover{
                cursor:pointer;
                transition: transform 0.5s;
                transform: $trasformScale;
            }
        }
        .contentDescp{
            padding: 20px 0px 20px 10px;
            .dvDescp{                
                animation: wRigth 2s;
                border-radius: 5px 0px 0px 5px;
                input{
                    animation: alert 5s infinite;
                    padding: 15px 20px 15px 20px;
                    background:none;
                    border: none;
                    background-color:rgb(0, 0, 0);
                    border-radius: 5px ;
                    color: white;
                }
                input:hover{
                    animation: none;
                    transition: transform 0.5s;
                    transform: $trasformScale;
                }

            }
        }
    }
}