*{
    margin: 0px;
    padding:0px
}
.mainAboutMe{
    .colPresen{
        .logosPresen{
            img{
                width: 30px;
                margin-right: 10px;
                border-radius: 2px;
            }
        }
        .logoPrincipal{
            img{
                border-radius: 50%;
            }
        }
    }
    .colContent{
        background-color: rgb(182, 182, 182);
        .contImagen{
            img{
                width: 95%;
            }
        }
        .imgCodes{
            flex-wrap: wrap;
            img{
                width: 100px;
                height: 80px;
                margin-right: 20px;
            }
            img:hover{
                cursor:pointer;
                transition: transform 0.5s;
                transform: scale(1.2);
            }
        }
    }
}