@media screen and (max-width:425px) { 
    .mainServices{
        .colRelImg{
            .txtDesing{
                .logoLeng3{
                    top:20% !important;
                }
            }
        } 
    }
}
@media screen and (max-width: 1023px) {
    .mainServices{
        .splash{
            .imgSplash{
                display: none;
            }
        }
        .colRelImg{
            .txtDesing{
                .textPos,.textPos2{
                    display: none;
                }
                .logoLeng{
                    img{
                        width: 30px;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 1440px) {
    .mainAboutMe{
        height: 100vh;
    }
}