.mainServices{
    .carousel-item{
        position: relative;
        height: 30rem;
        background-repeat: none;
        background-size: cover;
        .imgSlide{
            position: absolute;
            bottom: 30px;
            left: 0px;
            right: 0px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
    }
    .dvServ{
        img{
            width: 100%;
            max-width: 300px;
        }
        .servText{
            padding: 20px;
            a{
                padding: 20px;
                border-radius: 5px;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
    .dvServD{
        img{
            width: 100%;
        }
    }
}