header{
    max-width: 100%;
    nav{
        ul{
            li{
                a{
                    color:white !important;
                    animation: fadeInMenu 1s;
                }
                a:hover{
                    transform: scale(1.2);
                    transition: transform 1s ease-in-out;
                }
            }
        }
    }
}
.mainServices{
    .modal-Conta{
        position: fixed;
        top:0;
        z-index:4;
        transition: position 1s;
        animation:fadeInMenu 1s;
        .customModal{  
            width: 100%;  
            height: 100vh;
            background-color: rgba($color: #000000, $alpha: 0.5) !important;
            iframe{
                width: 100%;
                height: 100%;
            }
        }
    }
    .carrouselItemCus{
        background-size: cover;
        background-position: center;
    }
    .carousel-item{
        position: relative;
        height: 30rem;
        background-repeat: none;
        background-size: cover;
        .imgSlide{
            position: absolute;
            bottom: 30px;
            left: 0px;
            right: 0px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
    }
    .splash{
        position: relative;
        .imgSplash{
            position: absolute;
            z-index: -1;
            height: 100%;
        }
        .dvServ{
            img{
                width: 100%;
                max-width: 300px;
            }
            .servText{
                padding: 20px;
                a{
                    padding: 20px;
                    border-radius: 5px;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }
    }
    .colRelImg{
        .txtDesing{
            overflow: hidden;
            position: relative;
            .imgText{
                width: 100%;

            }
            .textPos,.textPos2{
                position: absolute;
                top: 50px;
                padding: 20px;
                background-color: black;
                border-radius: 0px 5px 5px 0px;
                margin-left: 0px;
                margin-right: 0px;
                width: 20%;
                cursor:pointer;
            }
            .textPos:hover,.textPos2:hover{
                transform: translateX(-5px);
                transition: transform 0.5s;
            }
            .textPos2:hover{
                transform: translateX(5px);
            }
            .textPos2{
                border-radius: 5px 0px 0px 5px;
                right: 0px;
            }
            .logoLeng,.logoLeng2{
                position: absolute;
                bottom: 0px;
                margin-left: 0px;
                margin-right: 0px;
                left: 0px;
                right: 0px;
                img{
                    width: 100px;
                }
                img:hover{
                    cursor: pointer;
                    transform: scale(1.2);
                    transition: transform 1s;
                }
            }
            
            .logoLeng2{
                width: 300px;
                margin-left: 0px;
                margin-right: 0px;
                left: 0px;
                right: 0px;

                a{
                    width: 300px;
                }
            }
            .btnPlay{
                background: none;
                border: none;
                svg{
                    width: 52px;
                    height: 52px;
                    cursor: pointer;
                }
            }
        }
    }
}

footer{
    height: 50px;
    p{
        margin-bottom:0px !important
    }
    .imgColum{
        img{
            margin-left: 5px;
            width: 20px;
        }
        img:hover{
            transform: rotate(10deg) scale(1.5);
            transition: transform 1s;
        }
    }
    
    margin: 0px !important;
    padding: 0px !important;
}