header{
    max-width: 100%;
    nav{
        ul{
            li{
                a{
                    color:white !important;
                    animation: fadeInMenu 1s;
                }
                a:hover{
                    transform: scale(1.2);
                    transition: transform 1s ease-in-out;
                }
            }
        }
    }
}
.mainServices{
    .carousel-item{
        position: relative;
        height: 30rem;
        background-repeat: none;
        background-size: cover;
        .imgSlide{
            position: absolute;
            bottom: 30px;
            left: 0px;
            right: 0px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
    }
    .splash{
        position: relative;
        .imgSplash{
            position: absolute;
            z-index: -1;
            height: 100%;
            animation: traslateSplash 1s;
            animation-fill-mode: forwards;
        }
        .dvServ{
            img{
                width: 100%;
                max-width: 300px;
            }
            .servText{
                padding: 20px;
                a{
                    padding: 20px;
                    border-radius: 5px;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }
    }
    .colRelImg{
        .txtDesing{
            position: relative;
            .imgText{
                width: 100%;

            }
            .textPos{
                position: absolute;
                top: 50px;
                padding: 20px;
                background-color: black;
                border-radius: 0px 5px 5px 0px;
                margin-left: 0px;
                margin-right: 0px;
                width: 300px;
            }
            .logoLeng{
                position: absolute;
                bottom: 0px;
                margin-left: 0px;
                margin-right: 0px;
                left: 0px;
                right: 0px;
                img{
                    width: 100px;
                }
                img:hover{
                    cursor: pointer;
                    transform: scale(1.2);
                    transition: transform 1s;
                }
            }
        }
    }
}

footer{
    height: 50px;
    p{
        margin-bottom:0px !important
    }
    .imgColum{
        img{
            margin-left: 5px;
            width: 20px;
        }
        img:hover{
            transform: rotate(10deg) scale(1.5);
            transition: transform 1s;
        }
    }
    
    margin: 0px !important;
    padding: 0px !important;
}