* {
  margin: 0px;
  padding: 0px;
}

header {
  max-width: 100%;
}

header nav ul li a {
  color: white !important;
  -webkit-animation: fadeInMenu 1s;
          animation: fadeInMenu 1s;
}

header nav ul li a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.mainServices .modal-Conta {
  position: fixed;
  top: 0;
  z-index: 4;
  -webkit-transition: position 1s;
  transition: position 1s;
  -webkit-animation: fadeInMenu 1s;
          animation: fadeInMenu 1s;
}

.mainServices .modal-Conta .customModal {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.mainServices .modal-Conta .customModal iframe {
  width: 100%;
  height: 100%;
}

.mainServices .carrouselItemCus {
  background-size: cover;
  background-position: center;
}

.mainServices .carousel-item {
  position: relative;
  height: 30rem;
  background-repeat: none;
  background-size: cover;
}

.mainServices .carousel-item .imgSlide {
  position: absolute;
  bottom: 30px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.mainServices .splash {
  position: relative;
}

.mainServices .splash .imgSplash {
  position: absolute;
  z-index: -1;
  height: 100%;
}

.mainServices .splash .dvServ img {
  width: 100%;
  max-width: 300px;
}

.mainServices .splash .dvServ .servText {
  padding: 20px;
}

.mainServices .splash .dvServ .servText a {
  padding: 20px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.mainServices .colRelImg .txtDesing {
  overflow: hidden;
  position: relative;
}

.mainServices .colRelImg .txtDesing .imgText {
  width: 100%;
}

.mainServices .colRelImg .txtDesing .textPos, .mainServices .colRelImg .txtDesing .textPos2 {
  position: absolute;
  top: 50px;
  padding: 20px;
  background-color: black;
  border-radius: 0px 5px 5px 0px;
  margin-left: 0px;
  margin-right: 0px;
  width: 20%;
  cursor: pointer;
}

.mainServices .colRelImg .txtDesing .textPos:hover, .mainServices .colRelImg .txtDesing .textPos2:hover {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.mainServices .colRelImg .txtDesing .textPos2:hover {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.mainServices .colRelImg .txtDesing .textPos2 {
  border-radius: 5px 0px 0px 5px;
  right: 0px;
}

.mainServices .colRelImg .txtDesing .logoLeng, .mainServices .colRelImg .txtDesing .logoLeng2 {
  position: absolute;
  bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  left: 0px;
  right: 0px;
}

.mainServices .colRelImg .txtDesing .logoLeng img, .mainServices .colRelImg .txtDesing .logoLeng2 img {
  width: 100px;
}

.mainServices .colRelImg .txtDesing .logoLeng img:hover, .mainServices .colRelImg .txtDesing .logoLeng2 img:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.mainServices .colRelImg .txtDesing .logoLeng2 {
  width: 300px;
  margin-left: 0px;
  margin-right: 0px;
  left: 0px;
  right: 0px;
}

.mainServices .colRelImg .txtDesing .logoLeng2 a {
  width: 300px;
}

.mainServices .colRelImg .txtDesing .btnPlay {
  background: none;
  border: none;
}

.mainServices .colRelImg .txtDesing .btnPlay svg {
  width: 52px;
  height: 52px;
  cursor: pointer;
}

footer {
  height: 50px;
  margin: 0px !important;
  padding: 0px !important;
}

footer p {
  margin-bottom: 0px !important;
}

footer .imgColum img {
  margin-left: 5px;
  width: 20px;
}

footer .imgColum img:hover {
  -webkit-transform: rotate(10deg) scale(1.5);
          transform: rotate(10deg) scale(1.5);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

* {
  margin: 0px;
  padding: 0px;
}

.mainAboutMe .colPresen {
  z-index: 1;
}

.mainAboutMe .colPresen .imgPerfil img {
  width: 250px;
  height: 200px;
  -webkit-animation: perfilPic 0.5s;
          animation: perfilPic 0.5s;
}

.mainAboutMe .colPresen .logosPresen img {
  width: 30px;
  margin-right: 10px;
  border-radius: 2px;
}

.mainAboutMe .colPresen .logoPrincipal img {
  border-radius: 50%;
}

.mainAboutMe .colContent {
  background-color: #b6b6b6;
}

.mainAboutMe .colContent .imgCodes {
  z-index: 0;
  -webkit-animation: wLeft 2s;
          animation: wLeft 2s;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mainAboutMe .colContent .imgCodes .dvCodes {
  border-radius: 10px;
}

.mainAboutMe .colContent .imgCodes img {
  width: 100px;
  height: 80px;
  margin-right: 20px;
}

.mainAboutMe .colContent .imgCodes img:hover {
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.mainAboutMe .colContent .contentDescp {
  padding: 20px 0px 20px 10px;
}

.mainAboutMe .colContent .contentDescp .dvDescp {
  -webkit-animation: wRigth 2s;
          animation: wRigth 2s;
  border-radius: 5px 0px 0px 5px;
}

.mainAboutMe .colContent .contentDescp .dvDescp input {
  -webkit-animation: alert 5s infinite;
          animation: alert 5s infinite;
  padding: 15px 20px 15px 20px;
  background: none;
  border: none;
  background-color: black;
  border-radius: 5px;
  color: white;
}

.mainAboutMe .colContent .contentDescp .dvDescp input:hover {
  -webkit-animation: none;
          animation: none;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@-webkit-keyframes imgRedes {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes imgRedes {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@-webkit-keyframes fadeInMenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInMenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes perfilPic {
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes perfilPic {
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@-webkit-keyframes wLeft {
  0% {
    -webkit-transform: translate(-250px);
            transform: translate(-250px);
  }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

@keyframes wLeft {
  0% {
    -webkit-transform: translate(-250px);
            transform: translate(-250px);
  }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

@-webkit-keyframes wRigth {
  0% {
    -webkit-transform: translate(250px);
            transform: translate(250px);
  }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

@keyframes wRigth {
  0% {
    -webkit-transform: translate(250px);
            transform: translate(250px);
  }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

@-webkit-keyframes traslateSplash {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
}

@keyframes traslateSplash {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
}

@media screen and (max-width: 425px) {
  .mainServices .colRelImg .txtDesing .logoLeng3 {
    top: 20% !important;
  }
}

@media screen and (max-width: 1023px) {
  .mainServices .splash .imgSplash {
    display: none;
  }
  .mainServices .colRelImg .txtDesing .textPos, .mainServices .colRelImg .txtDesing .textPos2 {
    display: none;
  }
  .mainServices .colRelImg .txtDesing .logoLeng img {
    width: 30px;
  }
}

@media screen and (min-width: 1440px) {
  .mainAboutMe {
    height: 100vh;
  }
}
/*# sourceMappingURL=stylesI.css.map */